*{
    margin: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-family: 'Nunito', sans-serif;
}
.destination{
    margin-top: 130px;
}
.hero2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.hero2 img{
    width: 45vw;
}
.hero2 aside{
    width: 42vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.aside-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.aside-title h1 {
    font-family: Crimson Text;
    font-weight: normal;
    font-size: 52px;
    line-height: 113.7%;
    letter-spacing: -0.01em;
}
.aside-title p{
    font-size: 16px;
    line-height: 145.2%;
    letter-spacing: 0.015em;
    color: #3D3D3D;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}
.info-text{
    display: flex;
    gap: 80px;
}
.info-block{
    width: 110px;
}
.info-block h2{
    font-weight: bold;
    font-size: 44px;
    line-height: 145.2%;
    letter-spacing: 0.015em;
    color: #FBB667;
}
.info-block p{
    font-size: 16px;
}
.info button{
    padding: 11px 25px;
    font-weight: bold;
    font-size: 18px;    
    line-height: 25px;
    color: #FFFFFF;
    background: #0F214F;
    border-radius: 100px;
}
.cards{
    margin-top: 60px;
}