*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    font-size: 62.5%;
}
button{
    cursor: pointer;
    background: #2D635E;
    color: white;
    border-radius: 0.7rem;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 5.3vh 9vw 5.3vh 9vw;
    align-items: center;   
}
header img{
    cursor: pointer;
}
nav{
    display: flex;
    width: 43vw;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.6rem;
    align-items: center;
}
nav a{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
nav button{
    padding: 1.35rem 2.7rem;
    font-size: 1.6rem;
    mix-blend-mode: normal;
    box-shadow: 0rem 0.7rem 1rem rgba(0, 0, 0, 0.1);
}
.home-container{
    display: flex;
}
.home-main{
    display: flex;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: 55px;
    margin-left: 40px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.socials p{
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    font-size: 2.0rem;
    margin-top: 0.2rem;
}
#main-follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container {
    display: flex;
    justify-content: center;
    margin-bottom: 14vh;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.icons img{
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
}
.home-container aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:44vw;
    gap: 2.6rem;
    
}
.home-container aside h1{
    font-size: 6.3rem;
    font-weight: 700;
}
.home-container aside h3{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 400;
    font-size: 2.8rem;
    color: #444A4A;
}
.home-container aside button{
    padding: 1.6rem 0rem 1.6rem 0rem;
    width: 23.5rem;
    font-size: 2.0rem;
}
.about-container{
    display: flex;
    justify-content: center;
    gap: 9rem;
    align-items: center;
}
h3{
    font-family: 'Cedarville Cursive', cursive;
    font-family: Cedarville Cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8rem;
    line-height: 5.3rem;
    color: #000000;
    opacity: 0.75;
}
.aboutus-txt{
    width: 47vw;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 3.8rem;
}
.aboutus-txt{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.txt-area{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    
}
.txt-area p{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    color: #444A4A;
    line-height: 3.6rem;
}

.promotion-container{
    margin-left: 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8vw;
    margin-top: 26.6vh;

}
.promotion-container aside{
    display: flex;
    flex-direction: column;
    width: 45vw;
    gap: 3.4rem;
}
.promotion-container aside button{
    width: 17.2vw;
    padding: 1.6rem 0rem 1.6rem 0rem;
    font-size: 2.0rem;
    line-height: 2.0rem;
}
#promotion-img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 9vw;
}
.shop-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3EBE7;
    gap: 3.0rem;
    margin-top: 11.5vh;
    padding: 5.2% 12.5%;
}
.menu-card{
    padding: 45px;
    min-height: 52vh;
    background-color: white;
    box-shadow: 0px 1.5vw 5vh rgba(35, 57, 55, 0.17);
    border-radius: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.menu-txt{
    width: 15.5vw;
    margin-top: 3.8vh;
    margin-bottom: 6.42vh;
}
.menu-txt p{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.9rem;
    line-height: 3.6rem;
    
    letter-spacing: 0.001em;
    color: #444A4A;
}
.menu-card h4{
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    color: #000000;
}
.menu-card button{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 17px 67px;
    text-align: center;
}
.contacts-container{
    display: flex;
    justify-content: center;
    margin-top: 9.2vh;
    align-items: center;
}
h4{
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4.5rem;
    letter-spacing: 0.02em;
}
.address{
    margin-left: 13.8vw;
}
.address h4{
    margin-bottom: 3.13vh;
}
#locations{
    display: flex;
    flex-direction: column;
    gap: 2.3vh;
}

footer{
    margin-bottom: 1.85vh;
    margin-top: 9.26vh;
}
footer p{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.9em;
    text-align: center;
    letter-spacing: 0.001em;
    color: #444A4A; 
}
#year{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1875em;
    text-align: center;
    letter-spacing: 0.001em;
    color: #444A4A; 
}
@media(max-width:768px){ /* aqui dentro é a versão pra celular */
    nav{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    .home-main{
        display: none;
    }
    .home-container aside{
        width: 100%;
        height: 80vh;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
    }
    .home-container aside h1{
        margin-top: 12px;
        margin-bottom: 30px;
        font-size: 5.4rem;
        font-weight: 700;
    }
    .home-container aside h3{
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 1.9rem;
        line-height: 3.6rem;
        color: black;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-container h3{
        display: none;
    }
    #figure2{
        width: 100vw;
        margin-top: 6.7rem;
        display: flex;
        justify-content: center;
    }
    .aboutus-txt{
        width: 75.73vw;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 3em;
    }
    .aboutus-txt h2{
        width: 40vw;
        font-size: 3.8rem;
        text-align: left;
    }
    .promotion-container{
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 8.2vw;
    }
    .promotion-container h3{
        display: none;
        gap: 30px;
    }
    .promotion-container aside h2{
        
        text-align: left;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        
    }
    .promotion-container aside{
        flex-direction: flex-start;
        width: 91.8vw;
    }
    .promotion-container button{
        display: none;
    }
    .shop-container{
        flex-direction: column;
        padding:5.2% 4.8% ;
    }
    .menu-card{
        padding: 40px 0px;
        min-height: 0px;
    }
    .menu-card button{
        padding: 17px 67px 17px 67px ;
    }
    .menu-txt{
        width: 66.4%;
        text-align: center;
        margin-top: 3.8vh;
        margin-bottom: 6.42vh;
    }
    .menu-txt p{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.9rem;
        line-height: 3.6rem;
        text-align: none;
        letter-spacing: 0.001em;
        color: #444A4A;
    }
    .map img{
        width: 100vw;
    }
    .address{
        text-align: center;
        margin-left:0px;
        margin-top: 5rem;
    }
    #locations{
        align-items: center;
        justify-content: center;
    }
    .contacts-container h3{
        display: none;
    }
    .contacts-container{
        flex-direction: column;
    }
    .txt-gone{
        display: none;
    }
    .address button{
        padding: 1.7rem 3.1rem;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.17);
        border-radius: 0.5rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: #444A4A;
    }

}

@media(max-width:380px){
    #fg2{
        width: 100vw;
    }
}

@media(max-width:320px){
    #fg3{
        width: 100vw;
    }
}
@media (min-width: 1000px){
    .menu-card button{
        padding: 2.54vh 4.6vw 2.54vh 4.6vw;
    }
}
@media (min-width: 768px) {
    .address button{
        display: none;
    }
    #btnMbl{
        display: none;
    }
 
}