*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%
}

header{
    top: 0;
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 1.6rem 7rem;
    background-color: white;
    width: calc(100% - 14rem);
    z-index: 10000;
}
nav{
    gap: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: black;
    line-height: 2.1rem;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
}
nav button{
    padding: 1.2rem 2.3rem;
    cursor: pointer;
    background-color: white;
    color: #2F70FE;
    border: 1px solid #2F70FE;
    text-align: center;
}
.hero{
    background-color: #2F70FE;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroTitle{
    text-align: center;
    color: white;
}