*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%
}
button{
    cursor: pointer;
}

header{
    top: 0;
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 1.6rem 7rem;
    background-color: white;
    width: calc(100% - 14rem);
    z-index: 10000;
}
nav{
    gap: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: black;
    line-height: 2.1rem;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
}
nav button{
    padding: 1.2rem 2.3rem;
    cursor: pointer;
    background-color: white;
    color: #2F70FE;
    border: 1px solid #2F70FE;
    text-align: center;
}
.hero{
    padding-top: 14.7rem;
    background-color: #2F70FE;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroTitle{
    width: 50vw;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.heroTitle h1{
    font-size: 4.8rem;
    line-height: 6.5rem;
}
.heroTitle p{
    font-size: 1.6rem;
    line-height: 3rem;
    width: 42vw;
}
.heroExtra{
    width: calc(100% - 18rem);
    display: flex;
    justify-content: space-between;
    padding: 0 9rem;
}
.heroExtra button{
    margin-top: 3.3rem;
    max-height: 5.1rem;
    padding: 1.6rem 2.5rem;
    color: white;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;
    background-color: black;
}
.intro{
    width: 100%;
    padding-top: 7.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.1rem;
    padding-bottom: 10.7rem;
}
.intro h1{
    font-weight: 500;
    font-size: 4.0rem;
    line-height: 6.0rem;
    letter-spacing: 0.02em;
}
.intro-icons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5.6rem;

}
.intro-icons img{
    height: 100px;
    width: 100px;
}
.intro-block{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    letter-spacing: 0.01em;
}